.footer
  .py-5.bg-light
    .container
      .row
        .col-lg-4.mb-4.mb-lg-0
          h5 Crowd Source Delivery
          ul.contact-info.list-unstyled
            li
              a.text-dark(href='mailto:odirionye@gmail.com.com') gryffindor@gmail.com
          p.text-muted “Gryffindor, where dwell the brave at heart!”
        //- .col-lg-4.col-md-6
        //-   h5 Pages
        //-   ul.links.list-unstyled
        //-     li
        //-       a.text-muted(href='#') Nisi in commodo
        //-     li
        //-       a.text-muted(href='#') reprehenderit
        //-     li
        //-       a.text-muted(href='#') Nostrud
        //-     li
        //-       a.text-muted(href='#') Et eu eu
        //- .col-lg-4.col-md-6
        //-   h5 Favourites
        //-   ul.links.list-unstyled
        //-     li
        //-       a.text-muted(href='#') Minim labore nulla
        //-     li
        //-       a.text-muted(href='#') Nulla qui nisi
        //-     li
        //-       a.text-muted(href='#') Iris Vor Arnim
        //-     li
        //-       a.text-muted(href='#') Consectetur cupidatat
  .py-3.bg-dark.text-white
    .container
      .row
        .col-md-7.text-center.text-md-left
          p.mb-md-0 &copy; 2020 Made with 
            i.fas.fa-heart  by 
            a(href="https://twitter.com/sandy999", target="_blank")  Team-Gryffindor 
  