.mobile_bottom_bar
    div
        a(href='/')
            i.fas.fa-home
    div
        a(href='/order')
            i.far.fa-file-alt
    div
        a(href='/deliver')
            i.fas.fa-truck
    div
        a(href='/profile')
            i.far.fa-user
