extends layout


block content
    .container
      .row
        br
        .col-md-12
          .progress
            .one.primary-color
            .two.primary-color
            .three.no-color
            .progress-bar(style="width: 70%;")
          hr
          .progress
            .one.success-color
            .two.success-color
            .three.success-color
            .progress-bar.progress-bar-success(style="width: 100%")
          hr
          .progress
            .one.danger-color
            .two.no-color
            .three.no-color
            .progress-bar.progress-bar-danger(style="width: 30%")
          hr
          .progress
            .one.warning-color
            .two.warning-color
            .three.no-color
            .progress-bar.progress-bar-warning(style="width: 60%")
          hr
          .progress
            .one.info-color
            .two.no-color
            .three.no-color
            .progress-bar.progress-bar-info(style="width: 35%")