extends layout

block content

  section
    .container
        .profile-user-img-container
            img(src='https://source.unsplash.com/user/timmossholder/350x250')
        .profile-user-content
            .profile-user-content-inner-left
                span
                    | Name: Abishake
                    br
                    | Uname: shakeabi
                    br
                    | Roll: 106117001
            .profile-user-content-inner-right
                span
                    | Name: Abishake
                    br
                    | Uname: shakeabi
                    br
                    | Roll: 106117001
        .profile-user-inner-nav
            div
                p
                    | Order History
            div
                p
                    | Current Orders
        .profile-user-order-container

