body {
    padding-top: 56px;
}
#collection {
    padding: 2rem;
}
.g-recaptcha {
    padding-bottom: 1rem;
}
.inner {
    max-width: 900px;
    margin: 0 auto;
}
@media all and (max-width: 900px) {
    .inner {
        padding: 2rem;
    }
}
@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    50% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slideIn {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    50% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.flash {
    background: white;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
    padding: 1rem;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: slideIn forwards 0.1s ease-in-out 2;
    animation: slideIn forwards 0.1s ease-in-out 2;
    -webkit-animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
    animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
}
.flash + .flash {
    -webkit-animation-delay: 0.55s;
    animation-delay: 0.55s;
}
.flash + .flash + .flash {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.flash__text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flash__remove {
    background: none;
    border: 0;
}
.flash__remove:hover {
    color: #ffc40e;
}
.flash:after {
    content: "";
    display: block;
    background: white;
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    z-index: -1;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.flash--success {
    background: -o-linear-gradient(315deg, #d2ff52 0%, #91e842 100%);
    background: linear-gradient(135deg, #d2ff52 0%, #91e842 100%);
}
.flash--error {
    background: -o-linear-gradient(70deg, red 0%, #c80000 100%);
    background: linear-gradient(20deg, red 0%, #c80000 100%);
}
.flash--info {
    background: -o-linear-gradient(55deg, #f1e767 0%, #feb645 100%);
    background: linear-gradient(35deg, #f1e767 0%, #feb645 100%);
}
.flash p {
    margin: 0;
}
.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}
.btn-twitter {
    color: white;
    background-color: #1da1f2;
}
.btn-github {
    color: white;
    background-color: #24292e;
}
.btn-linkedin {
    color: white;
    background-color: #007bb5;
}
.btn-dropbox {
    color: white;
    background-color: #3d9ae8;
}
.btn-discord {
    color: white;
    background-color: #7289da;
}

.btn-slack {
    color: white;
    background-color: #4a154b;
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 575.98px) {
    .paddingButtons {
        padding-bottom: 1rem;
    }
}
@media (max-width: 991.98px) {
    #hackathonImages {
        display: none;
    }
}


/* Custom CSS */

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Zhi+Mang+Xing&display=swap');

*{
    font-family: 'Nanum Gothic'
}

#main_container{
    padding-top: 20px;
}

.footer{
    display: none;
}

.mobile_bottom_bar{
    display: none;
}

@media (max-width: 768px){
    #main_container{
        height: calc(100vh - 116px);
        overflow: auto;
    }

    /* .navbar-toggler{
        display: none;
    } */

    .mobile_bottom_bar{
        display: flex;
        height: 60px;
        width: 100%;
        position: fixed;
        bottom: 0;
        justify-content: space-around;
        border-top: 1px lightgray solid;
        background: white;
    }

    .mobile_bottom_bar a {
        color: gray;
        text-decoration: none;
        display: block;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.6em;
    }

    .mobile_bottom_bar>div{
        width: 25%;
    }

    .profile-user-img-container{
        background: rgb(253,29,29);
        background: linear-gradient(0deg, rgba(253,29,29,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    }

    .profile-user-img-container>img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        transform: translateY(30%);
        margin: 0 auto;
        display: block;
    }

    .profile-user-content{
        height: 200px;
        background: #F4F0BB;
        border-bottom: 1px lightgray solid;
        display: flex;
        padding: 10px;
    }
    .profile-user-content-inner-left,.profile-user-content-inner-right{
        position: relative;
    }
    .profile-user-content-inner-left span, .profile-user-content-inner-right span{
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .profile-user-content>div{
        width: 50%;
    }

    .profile-user-inner-nav{
        height: 50px;
        background: #F4F0BB;
        display: flex;
        cursor: pointer;
    }

    .profile-user-inner-nav>div{
        width: 50%;
    }

    .profile-user-inner-nav>div:nth-child(1){
        border-right: 1px lightgray solid;
    }

    .profile-user-inner-nav>div>p{
        text-align: center;
        position: relative;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);    
    }

    .profile-user-order-container{
        height: 500px;
        background: yellow;
        margin: 20px 0;
    }

    .user-search-item-container{
        margin-bottom: 15px;
    }
}

@media (min-width: 728px){
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

.one, .two, .three{
    position:absolute;
	margin-top:-10px;
	z-index:1;
	height:40px;
	width:40px;
	border-radius:25px;
	
}
.one{
	left:25%;
}
.two{
	left:50%;
}
.three{
	left:75%;
}
.primary-color{
	background-color:#4989bd;
}
.success-color{
	background-color:#5cb85c;
}
.danger-color{
	background-color:#d9534f;
}
.warning-color{
	background-color:#f0ad4e;
}
.info-color{
	background-color:#5bc0de;
}
.no-color{
	background-color:inherit;
}
